<p id="notice"><%= notice %></p>

<h1>『日本の人事部』スクレイピング結果</h1>

<a href="https://jinjibu.jp/service/list/1/?lc=1&mc=&sc=&pca=&ts=&dl=&k=" target="blank">人事労務・管理のサービス比較 - 『日本の人事部』</a>
様で公開している人事労務・管理データの整形を行っています。<br>
<br>
../x/y/z<br>
のURLを叩くことでyページ目からzページ目までのページを表示することが可能です。<br>
xは日本の人事部様の大カテゴリを表しており、下記の通りです。<br>
x:1 = "人事労務管理"<br>
x:2 = "育成/研修"<br>
x:3 = "採用"<br>
x:4 = "ツール・業務ソフト・施設・他サービス検索"<br>


<hr>
<h2>
  <%= "現在、「#{@type_name}」分類の#{@start_num}ページから#{@end_num}ページの内容を表示しています。" %>
</h2>


<table class="table table-striped table-bordered">
  <thead class="thead-default">
    <tr>
      <th>サービス名</th>
      <th>会社</th>
      <th>価格</th>
      <th>PR</th>
    </tr>
  </thead>

  <tbody>
    <% @bodys.each do |body| %>
      <tr>
        <td><%= body[0] %></td>
        <td><%= body[1] %></td>
        <td><%= body[2] %></td>
        <td><%= body[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

